[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
croniter = ">=0.3.30"
Django = ">=3.0.1"
django_compressor = ">=2.4"
psycopg2 = ">=2.8.4"
pytz = ">=2019.3"
requests = ">=2.22.0"
gunicorn = "*"
django-heroku = "*"
django-anymail = "*"
statsd = ">=3.3.0"
